<nav class="bg-primary text-lg mb-5">
  <ul class="nav justify-content-end pr-5">
    <li class="nav-item mr-5">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item mr-5">
      <a class="nav-link" href="/admin">Admin</a>
    </li>
    <li class="nav-item mr-5">
      <a class="nav-link" href="/shop/items">Shop</a>
    </li>
  </ul>
</nav>
