.text-lg {
  font-size: 1.5rem !important;
}

.active {
  color: yellow !important;
}

.navbar-offset-padding {
  padding-top: 100px !important;
}

.text-small {
  font-size: 0.9rem !important;
}

.max-width-300 {
  max-width: 250px !important;
}

.row-gap-20 {
  row-gap: 20px !important;
}

.max-width-800 {
  max-width: 800px;
}
